button{
    font-size: 15px;
    padding: 15px;
    background-color: #00FF00;
    border-radius: 8px;
}

button:hover{
    background-color: #00b33c;
    cursor: pointer;
}

#so, #multi{
    background-color: rgb(185, 63, 233);
}

#so:hover, #multi:hover{
    background-color: rgb(114, 37, 145);
}

input{
    display: block;
    margin: 15px 0;
    padding: 3px;
    font-size: 15px;
    width: 250px;
}
